@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;

  --muted: #6b7280;
  --accent: #3b82f6;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  --muted: #9aa1af;
  --accent: #61a8ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "IBM Plex Mono", monospace;
}
