@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #121212;

  --muted: #272829;
  --accent: #3b82f6;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;

  --muted: #9aa1af;
  --muted-bg: #272729;
  --accent: #61a8ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "IBM Plex Mono", monospace;
}
